.about {
  display: flex;
  width: 90vw;
  height: 90vh;
  padding-top: 150px;
  padding-left: 50px;
  background-image: url(../img/nature_bcr.png);
  background-size: cover;
}

.about_left {
  margin-right: 65px;
}
