.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.experience {
  background-color: var(--mono-background-color);
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  padding: 50px 40px;
}

.experience_skills {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  max-width: 935px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.experience_skills div {
  margin-bottom: 10px;
  padding-left: 25px;
  font-size: 22px;
  position: relative;
  width: 160px;
}

.experience_skills__block div {
  position: relative;
}

.experience_skills__block div::before {
  content: "";
  border-radius: 100%;
  width: 15px;
  height: 15px;
  background-color: pink;
  position: absolute;
  top: calc(50% - 5px);
  left: 0;
}

@media only screen and (max-width: 1080px) {
}
