html {
  height: 100%;
  --main-background-color: #3d13b5;
  --mono-background-color: #4d22c7;
  --main-light-font: white;
}

p,
h2,
h1,
li,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: var(--main-background-color);
  color: var(--main-light-font);
  font-family: "Titillium Web", sans-serif;
  /* 
  межстрочный интервал
  расстрояние после заголовка
  межбуквенный интервал
  */
}

.heading_1 {
  font-size: 62px;
  margin-bottom: 40px;
}

.paragraph_1 {
  font-size: 32px;
}

.heading_2 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 15px;
}

.paragraph_2 {
  font-size: 24px;
}

.heading_3 {
  font-size: 32px;
}

.paragraph_3 {
  font-size: 16px;
}

.btn-text {
  font-size: 16px;
  text-transform: uppercase;
}
